# Practical session 1 - Some Python basics

Course: [SDIA-Python](https://github.com/guilgautier/sdia-python)

Dates: 09/21/2021-09/22/2021

Instructor: [Guillaume Gautier](https://guilgautier.github.io/)

Students (pair):
- [Student 1]([link](https://github.com/username1))
- [Student 2]([link](https://github.com/username2))

In [75]:
%load_ext autoreload
%autoreload 2

## Documentation

To display the documentation associated to a Python function in your notebook (launched in VSCode), you can either
- run `?functionname` or `help(my_adder)`
- place your mouse pointer on the function name
- write the name of the function and start opening the brackets

## Zen of Python

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Reserved keywords

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Arithmetic

Compute 4 raised to the power 8

In [5]:
res = 4 ** 8
res

65536

Compute the quotient and the remainder of the euclidean division of 17 by 3.

In [9]:
q = 17 // 3
r = 17 % 3
print('quotient = ', q , 'reste =',  r)

#or

divmod(17,3)

quotient =  5 reste = 2

Create two integer variables `a, b` of your choice and swap their content.

In [11]:
a = 3
b = 5
tmp = b
b = a 
a = tmp 

print ("a =", a, "b =", b)

a = 5 b = 3

Modify `a` inplace, so that the new value of `a` is twice its previous value.

In [12]:
a = a*2
print(a)

10

Define a complex number `z` and print it as

`real=real-part, imag=imaginary-part`

In [13]:
z = complex (2,3)
print( "real =",  z.real, "imag = ", z.imag)

real = 2.0 imag =  3.0

## Strings

Propose two ways to define an empty string

In [16]:
str1 =""
str2 = str()

Define a string made of the 26 letters of the alphabet (lower case), then
- What is the 12th letter of the alphabet
- What are the 10 last letters of the alphabet
- What are the 5th to the 10th letters of the alphabet
- Create a new string where the 26 letters are converted to upper case.

In [22]:
alphabet = "abcdefghijklmnopqrstuvwyz"
letter12 = alphabet[11]
ten_last_letters = alphabet[-10:]
between_five_ten = alphabet[4:10]
ALPHABET = alphabet.upper()

Extract the first 4 digits of the number `x = 2341324530045968` (answer is `2341`).

In [23]:
x = 2341324530045968
L = x // 1000000000000
L

2341

## Lists

Propose two ways to define an empty list.

In [26]:
L1 = []
L2 = list()
print(L1, L2)

[] []

Create the list of consecutive integers from 5 to 11.

In [27]:
L = [k for k in range (5,12)]
L

[5, 6, 7, 8, 9, 10, 11]

Add `100` to this list.

In [28]:
L.append(100)
L

[5, 6, 7, 8, 9, 10, 11, 100]

Given the following list, 
Change the `"sdia"` to its reverse (`"aids"`).

In [66]:
x = [10, [3, 4], [5, [100, 200, ["sdia"]], 23, 11], 1, 7]
x

[10, [3, 4], [5, [100, 200, ['sdia']], 23, 11], 1, 7]

In [65]:
x[2][1][2][0][::-1]

'aids'

In [41]:
x[2][1][2][0] = x[2][1][2][0][::-1]
x

[10, [3, 4], [5, [100, 200, ['aids']], 23, 11], 1, 7]

Given the following list, 

  1. extract the first two items
  2. extract the last two items
  3. find the index of the first occurence of `9`
  4. extract the items located at odd indices
  5. create a new list which corresponds to the reversed version of the originial list
  6. create a new list where each item of the original list is raised to the power 3

In [52]:
x = [3, 7, 5, 3, 8, 6, 8, 8, 0, 7, 3, 9, 3, 4, 2, 7, 0, 9, 5, 0, 0, 9, 0, 9, 3,1, 4, 0, 5, 5, 5, 8, 9, 9, 5, 5, 4, 9, 5, 6, 2, 8, 5, 2, 4, 9, 2, 2, 3, 1]

print(x[0:2])
print(x[-2:])
print(x.index(9))
print([x[2*i] for i in range (int(len(x)/2))] )
print([x**3 for x in range (len(x))])

[3, 7]
[3, 1]
11
[3, 5, 8, 8, 0, 3, 3, 2, 0, 5, 0, 0, 3, 4, 5, 5, 9, 5, 4, 5, 2, 5, 4, 2, 3]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649]

## Tuples


Propose two ways to define an empty tuple.

In [56]:
t1 = tuple()
t2 = ()

Given the following tuple
- try to replace the second item (`4`) to `8`.
- modify the list so that the second element of the first item is raised to the power 5

In [63]:
x = ([1, 2, 3], 4)

x[0][1] = x[0][1]**5
x

([1, 32, 3], 4)

x = ([1, 2, 3], 4)

What is the main difference between a list and a tuple?

## Sets

Create an empty set

In [67]:
S = set()

Compute the intersection between $A = \{1, 2, 3\}$ and $B = \{2, 4, 5, 6\}$.

In [68]:
A = {1,2,3}
B = {2,4,5,6}
I = A.intersection(B)
I

{2}

From the following set
- add the numbers 4, 5, 6
- remove the numbers 1, 2, 3
- check if the resulting set is contained in `{1, 2, 4, 5, 6, 10}`

In [81]:
x = {0, 1, 2, 3, 6, 7, 8, 9, 10}

In [3]:
x = {0, 1, 2, 3, 6, 7, 8, 9, 10}
x.add(4)
x.add(5)
x.add(6)
x.remove(1)
x.remove(2)
x.remove(3)
print(x)
new= {1, 2, 4, 5, 6, 10}
print(new)
x.intersection(new) == x

{0, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 4, 5, 6, 10}

False

## Dictionnaries

Propose two ways to define an empty dictionary

In [6]:
D1 = dict()
D2 = {}

Propose at least 3 ways to define a dictionary with 
- keys `("a", "b", "c", "d")`
- values `(1, 3, 5 , 7)`

In [1]:
dict1 = { "a" : 1, "b" : 3, "c":5, "d":7}

keys = ["a", "b", "c","d"]
values = [1,3,5,7]
dict2 = dict(zip(keys, values))
print(dict2)

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

Given the following dictionary, use indexing to get to the word `"sdia"`

In [2]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "sdia"]}]},
    ]
}

In [6]:
d["outer"][3]['inner'][3]['inner_inner'][3]

'sdia'

From the following dictionary,
- Create the list of keys
- Create the list of values
- Check if the key `"abc"` is present, if not, return `123`.
- Merge the initial dictionary with `{"e": -1, 4: True}`

In [18]:
d2={"e": -1, 4: True}

In [17]:
d1 = dict(zip([(0, 1), "e", 1, None], ["abc", 4, None, 1 + 2j]))
d1

{(0, 1): 'abc', 'e': 4, 1: None, None: (1+2j)}

In [20]:
K = list(d1.keys())
V = list(d1.values())
print(K)
print(V)
print("abc" in K)

d1.update(d2)
print(d1)

[(0, 1), 'e', 1, None, 4]
['abc', -1, None, (1+2j), True]
False
{(0, 1): 'abc', 'e': -1, 1: None, None: (1+2j), 4: True}

## Conditions

Propose two ways to construct the list of odd values ranging from 0 to 30

In [25]:
L1 = [2*k+1 for k in range (0,15)]
L1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

From the following list, create another list which contains
- `"fiz"` if the item is a multiple of 5,
- `"buz"` if the item is a multiple of 7,
- `"fizbuz"` if the item is a both a multiple of 5 and 7,
- the index of the item otherwise.

In [28]:
5%5

0

In [31]:
x = [2, 1, 3, 31, 35, 20, 70, 132, 144, 49]
L=[]
for i in range (len(x)):
    if ( x[i]%5 ==0) & ( x[i]%7 ==0):
        L.append("fizbuz")
    else : 
        if x[i]%5 ==0:
            L.append('fiz')
        if x[i]%7 ==0:
            L.append("buz")
        else :
            L.append(i)

print(L)

[0, 1, 2, 3, 'fizbuz', 'fiz', 5, 'fizbuz', 7, 8, 'buz']

Given a string variable `course`, construct a `if/elif/else` statement that prints:
- `"That is very useful!"` if `course` is `"maths"` (any kind of capitalization)
- `"That is very useful!"` if `course` is `"python"` (any kind of capitalization)
- `"How nice!"` if `course` is `"meditation"` (any kind of capitalization)
- `"You're not at Hogwarts"` if `course` is `"magic"` (any kind of capitalization)
- otherwise `"What is this COURSE?"` if `course` is anything else.

In [33]:
mot = "Abs"
mot.lower()

'abs'

In [36]:
def test(course):
    if (course.lower() == "maths") | (course.lower()=="python"):
        rep = "That is very useful"
    elif course.lower() == "meditation":
        rep = "How nice!"
    elif course.lower() == "magic":
        rep = "You're not at Hogwarts"
    else : 
        rep = "What is this COURSE?"
    return rep

test('python')

'That is very useful'

Given the following variables, create and print the string

``quantity`` ``fruit``(s) cost(s) $``price``

such that
- there is an `"s"` at `"cost"` when there is more only one fruit,
- there is an `"s"` at `"fruit"` when there is more that one fruit,
- the price is displayed as ...,xxx,xxx.yy where yy corresponds rounded cents value

In [51]:
def test2 (qty, frt, pr):
    S1 = ""
    S2= ""
    if qty == 1: 
        S2 = "s"
    else : 
        S1 = "s"
    rep= str(qty) +" " +frt+S1+" "+"cost"+S2+" $"+str(round(price,2))
    return rep

In [52]:
quantity = 1
fruit = "avocado"
price = 1.8912392e4

In [53]:
test2(quantity, fruit, price)

'1 avocado costs $18912.39'

## Functions

- Create your function in `src/lab1/functions.py` files
- Import them using `from lab1.functions import MYFUNCTION`

In [80]:
from lab1.functions import benco2000
benco2000

'b'

In [2]:
from lab1.functions import is_unique

Define the function `is_unique(x)` which takes a list of integers `x` as input and returns `True` if the there is no duplicate items otherwise return `False`.

In [3]:
is_unique([2,4,5])

True

Define a function `triangle_shape(height)`, that returns 
- `""` if `height=0`, 
- otherwise it returns a string that forms a triangle with height prescribed by `height`.

**Examples**

height=1
```
x
```

height=2
```
 x 
xxx
```

height=3
```
  x  
 xxx 
xxxxx
```

height=4
```
   x   
  xxx  
 xxxxx 
xxxxxxx
```

height=5
```
    x    
   xxx   
  xxxxx  
 xxxxxxx 
xxxxxxxxx
```

height=6
```
     x     
    xxx    
   xxxxx   
  xxxxxxx  
 xxxxxxxxx 
xxxxxxxxxxx
```